body {
    font-family: serif;
    font-size: 1.6rem;


    line-height: 1.618;
    max-width: 48em;
    margin: auto;
    color: #4a4a4a;
    background-color: #f9f9f9;
    padding: 13px;


    background-color:#cccccc;

}

@media only screen and (max-width: 600px) {
  body {
      font-size: 1.2rem;
  }
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  font-family: Verdana, Geneva, sans-serif;

  font-weight: 700;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

#nav1 span {
      cursor: pointer;
}

.wikilink { cursor: pointer; }

.wikiname {color: #555555; text-align: right;}

.headerbar {
	padding:10px;
	margin: 0;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a7cfdf+0,331554+100 */

/*
background: -moz-linear-gradient(45deg, #a7cfdf  0%, #7375A4 100% );
background: -webkit-linear-gradient(45deg, #a7cfdf  0%, #7375A4 100%);
background: linear-gradient(45deg, #a7cfdf  0%, #737594 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#7375A4',GradientType=1 );
	width:100%;
*/

}

.headerbar a {color:black;}


.card-outer {
    border-radius: 25px;
    background: #eeeeee;
    padding: 15px;
    margin-bottom:1.5em;
}

@media only screen and (max-width: 600px) {
    .card-outer {
    background: #ddddff;
    }
}

.card-meta {
    font-size: 1rem;
}

.card {
    background-color:white;
    padding: 10px;
    margin: 2px;
    border-radius: 15px;
}

#content {
	margin: 10px;
	padding: 50px;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #fada96;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.transcluded {
  background-color: #eeeeff;
  padding:10px;

  border-left: 10px solid #faaa96;

}



.main-container {
   background-color:#cccccc;

   padding:2%;
}
text {
    /*      font-family:Verdana; */
}

a {color:39cccc;}

.wikilink {color:#85144b;}

div textarea {
  box-sizing: border-box;
  max-width: 90%;
  padding: 10px;
  font-size: 1.1rem;
}

button {

    color: #339933;


    margin:5px;

    background-repeat: no-repeat;
    background-position: <left|right>;

    padding: 5px;

}


button:hover {
   background-color: #;
}


.navbar {
    /*padding:20px;*/
    border:10px;
}

#navinputbox {
    height:3rem;
}

.double-comma-table {
    border-style:dotted;
    border-width:1px;
    border-color:gray;
    width:100%;
}

.double-comma-table td {
    padding:10px;
    border-style:dotted;
    border-width:1px;
    border-color:gray;
}

.double-comma-table tr:hover {
    background-color: #f5f5f5;
}

.tslink {
    font-size: 0.7rem;
}

.footer {
    font-size: 1rem;
}

.footer a {
    color : blue;
}

.breadcrumbs {
    font-size: 1rem;
}

.embed_div {
    display: flex;
    align-items: center;
    justify-content:center;
    width:100%;
}



.youtube-embedded {
    width:100%;
    position: relative;
    /*
    padding-bottom: 56.25%;
    padding-top: 25px;
*/
    height: 20em;
}

.bandcamp-embedded {

}
