{:output-dir "resources/clj_ts/main.out", :closure-defines #:figwheel.repl{connect-url "ws://localhost:9500/figwheel-connect?fwprocess=d9d3a2&fwbuild=dev"}, :optimizations :none, :aot-cache false, :preloads [figwheel.core figwheel.main figwheel.repl.preload devtools.preload], :output-to "resources/clj_ts/main.js", :asset-path "/main.out", :repl-requires ([figwheel.repl :refer-macros [conns focus]] [figwheel.main :refer-macros [stop-builds start-builds build-once reset clean status]] [cljs.pprint :refer [pprint] :refer-macros [pp]] [cljs.repl :refer-macros [source doc find-doc apropos dir pst]]), :main clj-ts.dev}