{:enums
 {:cardtype
  {:description "A type that is attached to each card"
   :values [:raw :markdown]}}


 :objects
 {:RawCard
  {:description "Raw version of a single card"
   :fields
   {:page_name {:type String}
    :hash {:type String}
    :data {:type String}}}

  :Card
  {:description "A card within the system"
   :fields
   {:raw_type {:type String}
    :delivered_type {:type String}
    :raw_data {:type String}
    :id {:type String}
    :raw_hash {:type String}
    }}

  :RawPage
  {:description "A page always has a representation whose body is nothing but a string of plaintext"
   :fields
   {:page_name {:type String}
    :body {:type String}}
   }

  :Page
  {:description "A Page is a named page within the wiki. It is made of a series of cards"
   :fields
   {:page_name {:type String}
    :cards {:type (list :Card)}
    :wiki_name {:type String}
    :site_url {:type String}
    :editable {:type Boolean} }}}


 :queries
 {
  :raw_page
  {:type :RawPage
   :description "Retrieve the raw version of a single page by its name"
   :args {:page_name {:type (non-null String)}}
   :resolve :resolve-raw-page}

  :cooked_page
  {:type :Page
   :description "Retrieve the cooked version of a single page by its name"
   :args {:page_name {:type (non-null String)}}
   :resolve :resolve-cooked-page}


  :raw_card
  {:type :RawCard
   :description "Retrieve a raw version of a single card"
   :args {:page_name {:type (non-null String)}
          :hash {:type (non-null String)}}
   :resolve :resolve-raw-card}

  :cooked_card
  {:type :Card
   :description "Retrieve a cooked version of a single card"
   :args {:page_name {:type (non-null String)}
          :hash {:type (non-null String)}
          }
   :resolve :resolve-cooked-card
   }}}
